h1,
p,
button {
    padding: 0;
    margin: 0;
}

body {
    margin-left: 16px;
    margin-right: 16px;
}

body h1 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.project-div,
.task-div {
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    border-top: 1px solid #797a80;
    padding-top: 8px;
    padding-bottom: 8px;
}

#add-project {
    background-color: #fff;
    border: none;
}

#add-project:hover {
    color: #797a80;
}

#button-container {
    border-top: 1px solid #797a80;
    padding-top: 8px;
    padding-bottom: 8px;
}

.project-checkbox,
.task-checkbox {
    margin-top: 4px;
    justify-self: center;
    width: 16px;
    height: 16px;
}

.task-div {
    margin-left: 32px;
}

.project-title,
.task-title,
#add-project,
#project-title {
    font-size: 24px;
}

.project-description,
.project-date,
.task-description,
.task-date {
    font-size: 16px;
    color: #797a80;
    margin-left: 16px;
}

#add-project-form {
    border: solid 1px black;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input,
input:focus,
textarea,
textarea:focus {
    border: none;
    outline: none;
}

#add-project-button-container,
#add-task-button-container {
    align-self: end;
    display: flex;
    gap: 8px;
}

.add-project-button {
    font-size: 16px;
    padding: 4px;
}

#add-task-dialog {
    border: solid 1px black;
    border-radius: 12px;
    padding: 12px;
    width: 70%;
}

#add-task-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}